<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>Newtok Meet, Free Video Calls, Messaging and Screen Sharing</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Newtok Meet powered by WebRTC and mediasoup, Real-time Simple Secure Fast video calls, messaging and screen sharing capabilities in the browser."
        />
        <meta
            name="keywords"
            content="webrtc, miro, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Newtok Meet" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Newtok Meet calling provides real-time video calls, messaging and screen sharing."
        />
        <meta property="og:image" content="https://sfu.mirotalk.com/images/mirotalksfu.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->

        <script async src="../js/Umami.js"></script>
        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
        <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    </head>
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <div class="m-0">
                                <a href="/">
                                    <img
                                        class="header-logo-image"
                                        src="../images/Newtok/logo white.png"
                                        alt="newtok-logo"
                                        width="150"
                                        height="150"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <section class="hero reveal-from-bottom">
                    <div class="container">
                        <div class="hero-inner">
                            <div class="hero-copy">
                                <h1 class="hero-title mt-0">
                                    Newtok Meet<br />
                                </h1>
                                <p class="hero-paragraph">
                                    Let's disccuss.
                                </p>
                            </div>
                            <div class="hero-figure anime-element">
                                <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                                    <rect width="528" height="396" style="fill: transparent" />
                                </svg>
                                <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                                <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                                <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                                <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                                <div class="hero-figure-box hero-figure-box-05"></div>
                                <div class="hero-figure-box hero-figure-box-06"></div>
                                <div class="hero-figure-box hero-figure-box-07"></div>
                                <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                                <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                                <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta section">
                    <div class="container">
                        <div class="cta-inner section-inner br-12">
                            <h3 class="section-title mt-0">
                                Pick a room name.<br />
                                How about this one?
                            </h3>
                            <div>
                                <div class="mb-24">
                                    <label for="roomName"></label>
                                    <div class="form-group-desktop">
                                        <input
                                            id="roomName"
                                            class="form-input"
                                            type="text"
                                            maxlength="36"
                                            value=""
                                            style="border-radius: 6px"
                                        />
                                        <button
                                            id="genRoomButton"
                                            class="button button-primary br-6 mr-8 mb-8 fas fa-arrows-rotate"
                                            onclick="genRoom()"
                                        ></button>
                                        <button
                                            id="joinRoomButton"
                                            class="button button-primary pulse"
                                            onclick="joinRoom()"
                                        >
                                            Join Room
                                        </button>
                                        <script>
                                            document.getElementById('roomName').onkeyup = (e) => {
                                                if (e.keyCode === 13) {
                                                    e.preventDefault();
                                                    joinRoom();
                                                }
                                            };
                                            function genRoom() {
                                                document.getElementById('roomName').value = getUUID4();
                                            }
                                            function getUUID4() {
                                                return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c) =>
                                                    (
                                                        c ^
                                                        (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))
                                                    ).toString(16),
                                                );
                                            }
                                            function joinRoom() {
                                                const roomName = filterXSS(document.getElementById('roomName').value);
                                                if (roomName) {
                                                    window.location.href = '/join/' + roomName;
                                                    window.localStorage.lastRoom = roomName;
                                                } else {
                                                    alert('Room name empty!\nPlease pick a room name.');
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div id="lastRoomContainer" class="last-room">
                                    <span>Your recent room:</span>
                                    <a id="lastRoom"></a>
                                </div>
                                <script>
                                    const lastRoomContainer = document.getElementById('lastRoomContainer');
                                    const lastRoom = document.getElementById('lastRoom');
                                    const lastRoomName = window.localStorage.lastRoom
                                        ? window.localStorage.lastRoom
                                        : '';
                                    if (lastRoomName) {
                                        lastRoomContainer.style.display = 'inline-flex';
                                        lastRoom.setAttribute('href', '/join/' + lastRoomName);
                                        lastRoom.innerText = lastRoomName;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="brand footer-brand">
                            <a href="/">
                                <img
                                    class="header-logo-image"
                                    width="150"
                                    height="150"
                                    src="../images/Newtok/logo white.png"
                                    alt="Logo"
                                />
                            </a>
                        </div>
                        <ul class="footer-links list-reset">
                            <!-- <li>
                                <a href="/about">About</a>
                            </li> -->
                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                            <!-- <li>
                                Contact:
                                <a target="_blank" href="https://www.linkedin.com/in/miroslav-pejic-976a07101/"
                                    >Miroslav Pejic</a
                                >
                            </li> -->
                        </ul>
                        <ul class="footer-social-links list-reset">
                            <li>
                                <a target="_blank" class="footer-icon" href="https://discord.gg/rgGYfeYW3N">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0,0,256,256"
                                        width="30px"
                                        height="30px"
                                    >
                                        <g
                                            fill="#7dc242"
                                            fill-rule="nonzero"
                                            stroke="none"
                                            stroke-width="1"
                                            stroke-linecap="butt"
                                            stroke-linejoin="miter"
                                            stroke-miterlimit="10"
                                            stroke-dasharray=""
                                            stroke-dashoffset="0"
                                            font-family="none"
                                            font-weight="none"
                                            font-size="none"
                                            text-anchor="none"
                                            style="mix-blend-mode: normal"
                                        >
                                            <g transform="scale(8.53333,8.53333)">
                                                <path
                                                    d="M6,4c-1.105,0 -2,0.895 -2,2v18c0,1.105 0.895,2 2,2h18c1.105,0 2,-0.895 2,-2v-18c0,-1.105 -0.895,-2 -2,-2zM8.64844,9h4.61133l2.69141,3.84766l3.33008,-3.84766h1.45117l-4.12891,4.78125l5.05078,7.21875h-4.61133l-2.98633,-4.26953l-3.6875,4.26953h-1.47461l4.50586,-5.20508zM10.87891,10.18359l6.75391,9.62695h1.78906l-6.75586,-9.62695z"
                                                ></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="footer-icon" href="https://www.facebook.com/newtoktech">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0,0,256,256"
                                        width="25px"
                                        height="25px"
                                    >
                                        <g
                                            fill="#7dc242"
                                            fill-rule="nonzero"
                                            stroke="none"
                                            stroke-width="1"
                                            stroke-linecap="butt"
                                            stroke-linejoin="miter"
                                            stroke-miterlimit="10"
                                            stroke-dasharray=""
                                            stroke-dashoffset="0"
                                            font-family="none"
                                            font-weight="none"
                                            font-size="none"
                                            text-anchor="none"
                                            style="mix-blend-mode: normal"
                                        >
                                            <g transform="scale(5.12,5.12)">
                                                <path
                                                    d="M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z"
                                                ></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="footer-icon" target="_blank" href="https://www.facebook.com/newtoktech">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        x="0px"
                                        y="0px"
                                        width="100"
                                        height="100"
                                        viewBox="0,0,256,256"
                                    >
                                        <g
                                           
                                            fill-rule="nonzero"
                                            stroke="none"
                                            stroke-width="1"
                                            stroke-linecap="butt"
                                            stroke-linejoin="miter"
                                            stroke-miterlimit="10"
                                            stroke-dasharray=""
                                            stroke-dashoffset="0"
                                            font-family="none"
                                            font-weight="none"
                                            font-size="none"
                                            text-anchor="none"
                                            style="mix-blend-mode: normal"
                                        >
                                            <g transform="scale(10.66667,10.66667)">
                                                <path
                                                    d="M12,2c-5.511,0 -10,4.489 -10,10c0,5.511 4.489,10 10,10c5.511,0 10,-4.489 10,-10c0,-5.511 -4.489,-10 -10,-10zM12,4c4.43012,0 8,3.56988 8,8c0,4.01447 -2.93468,7.31302 -6.78125,7.89844v-5.51367h2.32813l0.36523,-2.36524h-2.69336v-1.29297c0,-0.983 0.32023,-1.85547 1.24023,-1.85547h1.47656v-2.06445c-0.26,-0.035 -0.8087,-0.11133 -1.8457,-0.11133c-2.166,0 -3.43555,1.144 -3.43555,3.75v1.57422h-2.22656v2.36524h2.22656v5.49414c-3.78401,-0.63806 -6.6543,-3.90867 -6.6543,-7.87891c0,-4.43012 3.56988,-8 8,-8z"
                                                ></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    class="footer-icon"
                                    href="https://www.youtube.com/watch?v=_IVn2aINYww"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0,0,256,256"
                                        width="25px"
                                        height="25px"
                                    >
                                        <g
                                            fill="#7dc242"
                                            fill-rule="nonzero"
                                            stroke="none"
                                            stroke-width="1"
                                            stroke-linecap="butt"
                                            stroke-linejoin="miter"
                                            stroke-miterlimit="10"
                                            stroke-dasharray=""
                                            stroke-dashoffset="0"
                                            font-family="none"
                                            font-weight="none"
                                            font-size="none"
                                            text-anchor="none"
                                            style="mix-blend-mode: normal"
                                        >
                                            <g transform="scale(5.12,5.12)">
                                                <path
                                                    d="M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z"
                                                ></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="footer-icon" href="mailto:info@newtoktech.com">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        x="0px"
                                        y="0px"
                                        width="25"
                                        height="30"
                                        viewBox="0,0,256,256"
                                    >
                                        <g
                                            fill="#7dc242"
                                            fill-rule="nonzero"
                                            stroke="none"
                                            stroke-width="1"
                                            stroke-linecap="butt"
                                            stroke-linejoin="miter"
                                            stroke-miterlimit="10"
                                            stroke-dasharray=""
                                            stroke-dashoffset="0"
                                            font-family="none"
                                            font-weight="none"
                                            font-size="none"
                                            text-anchor="none"
                                            style="mix-blend-mode: normal"
                                        >
                                            <g transform="scale(5.12,5.12)">
                                                <path
                                                    d="M16,3c-7.16752,0 -13,5.83248 -13,13v18c0,7.16752 5.83248,13 13,13h18c7.16752,0 13,-5.83248 13,-13v-18c0,-7.16752 -5.83248,-13 -13,-13zM16,5h18c6.08648,0 11,4.91352 11,11v18c0,6.08648 -4.91352,11 -11,11h-18c-6.08648,0 -11,-4.91352 -11,-11v-18c0,-6.08648 4.91352,-11 11,-11zM37,11c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM25,14c-6.06329,0 -11,4.93671 -11,11c0,6.06329 4.93671,11 11,11c6.06329,0 11,-4.93671 11,-11c0,-6.06329 -4.93671,-11 -11,-11zM25,16c4.98241,0 9,4.01759 9,9c0,4.98241 -4.01759,9 -9,9c-4.98241,0 -9,-4.01759 -9,-9c0,-4.98241 4.01759,-9 9,-9z"
                                                ></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <!-- <li>
                                <a
                                    class="github-button"
                                    href="https://github.com/newtoktech"
                                    data-color-scheme="no-preference: light; light: light; dark: dark;"
                                    data-icon="octicon-heart"
                                    data-size="large"
                                    aria-label="Sponsor @miroslavpejic85 on GitHub"
                                    >Sponsor</a
                                >
                            </li> -->
                            <!-- <li>
                                <a
                                    class=""
                                    href="https://github.com/newtoktech"
                                    data-color-scheme="no-preference: light; light: light; dark: dark;"
                                    data-size="large"
                                    data-show-count="true"
                                    aria-label="Star miroslavpejic85/mirotalk on GitHub"
                                    >Star</a
                                >
                            </li> -->
                        </ul>
                        <div class="footer-copyright">&copy; 2023 Newtok Technologies, all rights reserved</div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
